/* create our grid container */ 

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0px;
    grid-template-areas:
        "video video video observation"
        "video video video observation"
        "video video video observation"
        "meta meta meta observation";
  }

  .video,
  .meta,
  .observation {
      padding: repeat(4, 300px);
      background-color: grey;
      color: white;
      text-align: center; 
  }
  
  
  /*assign grid areas to classes*/ 
.observation { grid-area: observation; }
.video { grid-area: video ;}
.meta { grid-area: meta; }

